body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

.comment_body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #e5e6e8;
    min-height:12px;
    max-height: 150px;
    overflow-y: auto;
    width:260px;
    margin-top: 30px;
    float: left;
    position:relative;
    padding: 5px;

}

.comment_body::-webkit-scrollbar {
    width:  .5em;
    height: .5em;
}

.comment_body::-webkit-scrollbar-thumb {
    background: slategray;
}

.comment_body::-webkit-scrollbar-track {
    background: lightgrey;
}


/*.comment_body::-webkit-scrollbar {
    display: none;
}*/

#title {
    float:top;
    height: 40px;
    padding-left: 40px;
    margin-top: 20px;

}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    position:relative;
    float:left;
    width:300px;
    margin-right:20px;
    margin-left:20px;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#container {
    width: 50%;
    height: 50%;
    margin: auto;
}

#sequence text, #legend text #conversation text{
    font-weight: 600;
    fill: #87CEEB;
    padding: 20px 100px 100px 100px;
}

#chart {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

#chart path {
    stroke: #fff;
}

#explanation {
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
    z-index: -1;
}

#percentage {
    font-size: 2.5em;
}

path {
    stroke: #fff;
}



